<!DOCTYPE html>
<html>
<%- include("header") %>
    <body>
        <div class="container">
            <h1><%= pageTitle %></h1>
            <p>Sorry, the page you are looking, doesn't exists. Go to <a href="/" class="btn btn-info">Home Page</a> or <a href="/blogs" class="btn btn-primary">All Blogs</a></p>

            <%- include("footer") %>
        </div>
    </body>
</html>